@model List<Core.Entities.Concrete.SystemUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.super)
{
    <td>
        <a class="btn btn-success" href="/Admin/AdminAdd">Admin Ekle</a>

    </td>
}

<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                İSİM
            </th>
            <th>
                Mail
            </th>
            <th>
                Süper Admin
            </th>
            @if (ViewBag.super)
            {
                <th>

                </th>
                <th>

                </th>
            }



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Super)
            </td>
            @if (ViewBag.super)
            {
                <td>
                    <a id="btn2" class="btn btn-lighten-danger" href="/Admin/DeleteAdmin/@item.Id" onclick="return confirm('Silmek istediğinize eminmisiniz?')">Sil</a>

                </td>
                <td>
                    <a id="btn1" class="btn btn-success" href="/Admin/AdminUpdate/@item.Id">Güncelle</a>

                </td>
            }


        </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                }
            });//myTable is the id of the table to be displayed as dataTable
        });
    </script>

}
