<div class="left-side-menu">




    <!--- Sidemenu -->
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

            <li class="menu-title">Navigation</li>

            <li>
                <a href="/Student/Index">
                    <i class="ti-home"></i>
                    <span> Öğrenci Yönetimi </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="ti-pie-chart"></i>
                    <span>  Grafikler </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="/Chart/Index">Bütün Öğrenciler (Pasta Dilimi)</a></li>
                    <li><a href="/Chart/Index2">Başarı İstatistiği (Pasta Dilimi)</a></li>
                    <li><a href="/Chart/Index3">Bütün Öğrenciler (Kolon halinde)</a></li>
                    <li><a href="/Chart/Index4">Başarı İstatistiği (Kolon halinde)</a></li>
                </ul>
            </li>
            <li>
                <a href="/Chart/Statistics">
                    <i class="mdi mdi-eye-minus-outline"></i>
                    <span> Genel İstatistikler </span>
                    <span class="badge badge-primary float-right"></span>
                </a>
            </li>
            <li>
                <a href="/Chart/All">
                    <i class="mdi mdi-eye-minus-outline"></i>
                    <span> Genel İstatistikler ve Grafik </span>
                    <span class="badge badge-primary float-right"></span>
                </a>
            </li>
            <li>
                <a href="/Currency/Index">
                    <i class="mdi mdi-eye-minus-outline"></i>
                    <span> Döviz Kurları </span>
                    <span class="badge badge-primary float-right"></span>
                </a>
            </li>
            <li>
                <a href="/Admin/Index">
                    <i class="mdi mdi-account-lock-outline"></i>
                    <span> Admin Listesi </span>
                    <span class="badge badge-primary float-right"></span>
                </a>
            </li>
            <li>
                <a href="/Chart/Map2">
                    <i class="mdi mdi-google-maps"></i>
                    <span> Adres Kaydetme </span>
                    <span class="badge badge-primary float-right"></span>
                </a>
            </li>



        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>


</div>