<div class="navbar-custom">

    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li>
            <a href="/Login/LogOut" class="badge badge-primary float-right">
                <i class="mdi mdi-logout-variant"></i>
                <span>Çıkış Yap</span>
            </a>
        </li>
        




        <li class="dropdown notification-list">
            <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                <i class="mdi mdi-settings-outline noti-icon"></i>
            </a>
        </li>


    </ul>

    


    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>
  



    </ul>
</div>
