
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card-box">
            <i class="fa fa-info-circle text-muted float-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sisteme Kayıtlı Toplam Öğrenci Sayısını Gösterir."></i>
            <h6 class="mt-0 text-dark">Toplam Öğrenci Sayısı</h6>
            <h2 class="text-primary text-center mt-4 mb-4"><span>@ViewBag.d1</span></h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <i class="fa fa-info-circle text-muted float-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Sınavın Sonuçlarının Ortalaması alınması ile ortaya çıkan ortalamalar içinde en başarısız öğrenciyi gösterir"></i>
            <h6 class="mt-0 text-dark">Ortalaması En Yüksek Öprenci</h6>
            <h2 class="text-pink text-center mt-4 mb-4"><span>@ViewBag.d2</span></h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <i class="fa fa-info-circle text-muted float-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Sınavın Sonuçlarının Ortalaması alınması ile ortaya çıkan ortalamalar içinde en başarılı öğrenciyi gösterir"></i>
            <h6 class="mt-0 text-dark">Ortalaması En Düşük Öğrenci</h6>
            <h2 class="text-success text-center mt-4 mb-4"><span>@ViewBag.d3</span></h2>
        </div>
    </div>
</div>