
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box widget-inline">
    <div class="row">
        <div class="col-md-6  col-xl-3 widget-inline-box">
            <div class="text-center p-3">
                <h2 class="mt-2"><i class="text-primary mdi mdi-access-point-network mr-2"></i> <b>@ViewBag.dolar</b></h2>
                <p class="text-muted mb-0">Dolar Kuru</p>
            </div>
        </div>

        <div class="col-md-6  col-xl-3 widget-inline-box">
            <div class="text-center p-3">
                <h2 class="mt-2"><i class="text-teal mdi mdi-airplay mr-2"></i> <b>@ViewBag.euro</b></h2>
                <p class="text-muted mb-0">Euro Kuru</p>
            </div>
        </div>

     
    </div>
</div>
